server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:../config-repo
        git:
          uri: file:///${user.dir}/config-repo
          default-label: main
          search-paths: config-repo
          clone-on-start: false
          force-pull: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    "[com.example.configserver]": DEBUG
