server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/UST-Java-training-october-28/trainee_U56911
          default-label: main
          search-paths: config-repo
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
